.list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  flex-direction: column;
  gap: 10px;
}

.contactsItem {
  max-width: 400px;
  padding: 20px;
  background: white;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-out;
  &:hover {
    transform: scale(1.05);
  }
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}
.contactWrapper {
  display: flex;
  gap: 8px;
}
.contact {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.3px;
}

.buttonDelete {
  width: 60px;
  height: 28px;
  margin-left: 5px;
  border-width: inherit;
  border-radius: 5px;
  outline: none;
  background-color: #e22626;
  color: white;
  cursor: pointer;
    
}
.buttonDelete:focus {
  background-color: #c72323;
}